<h1>Route test</h1>
{{input value = model.name}}
<h2>Compétences</h2>
<u1>
{{#link-to "test.new"}}Ajouter une compétence{{/link-to}}
  {{#each model.competences as |comp|}}
  <li>{{comp}}</li>
    {{/each}}
</u1>
<p>Modification réalisée : {{model.name}}</p>

{{outlet}}